Repository ToniDarodda/Vibeefy, pull requests merged in 2024-02, with the labels that each got.

#9 [Backend] - fix null token value set when failed login
  backend/user-management-service/src/modules/user/service/user.service.ts
Labels: bug, Backend

#10 [Backend] update security when query fail and return http error
  backend/user-management-service/src/entities/common/entity.ts
  backend/user-management-service/src/modules/lovedSong/controller/lovedSong.controller.ts
  backend/user-management-service/src/modules/lovedSong/service/lovedSong.service.ts
  backend/user-management-service/src/modules/playlist/controller/playlist.controller.ts
  backend/user-management-service/src/modules/playlist/service/playlist.service.ts
Labels: bug, enhancement, Backend

#13 [Frontend] - base folder and library set up
  backend/music-artist-service/src/entities/artist/entity.ts
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/.prettierrc
  frontend/package.json
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/index.ts
  frontend/src/constants/index.ts
  frontend/src/contexts/index.ts
  frontend/src/hooks/index.ts
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/interfaces/index.ts
  frontend/src/logo.svg
  frontend/src/pages/index.ts
  frontend/src/query/index.ts
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/services/index.ts
  frontend/src/setupTests.ts
  frontend/src/utils/index.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: enhancement, Frontend

#18 [Frontend] - Login && Register flow responsive to mobile
  frontend/.eslintrc.js
  frontend/package.json
  frontend/public/hide.png
  frontend/public/index.html
  frontend/public/logo.png
  frontend/public/logo1.png
  frontend/public/rarrow.png
  frontend/public/unhide.png
  frontend/src/App.tsx
  frontend/src/components/index.ts
  frontend/src/components/input/passwordInput.tsx
  frontend/src/components/login/card/loginCard.tsx
  frontend/src/components/navbar/navbar.tsx
  frontend/src/components/register/card/registerCard.tsx
  frontend/src/components/register/registerSteps.tsx
  frontend/src/components/register/steps/baseStep.tsx
  frontend/src/components/register/steps/emailStep.tsx
  frontend/src/constants/index.ts
  frontend/src/contexts/index.ts
  frontend/src/hooks/index.ts
  frontend/src/index.tsx
  frontend/src/interfaces/index.ts
  frontend/src/pages/index.ts
  frontend/src/pages/login.tsx
  frontend/src/pages/register.tsx
  frontend/src/query/index.ts
  frontend/src/services/index.ts
  frontend/src/utils/index.ts
  frontend/yarn.lock
Labels: enhancement, Frontend

#20 [Frontend] - Loading page (beta) need improve later
  frontend/public/clogo.png
  frontend/src/components/login/card/loginCard.tsx
  frontend/src/index.tsx
  frontend/src/pages/dashboard.tsx
  frontend/src/pages/loading.tsx
Labels: enhancement, Frontend

#23 [Frontend] - Dashboard pages responsive for mobiles
  .github/workflows/frontend.build.yml
  frontend/package.json
  frontend/public/home.png
  frontend/public/k.png
  frontend/public/like.png
  frontend/public/loop.png
  frontend/public/nextl.png
  frontend/public/nextr.png
  frontend/public/pause.png
  frontend/public/pl.png
  frontend/public/plus.png
  frontend/public/volume.png
  frontend/src/components/dashboard/playBar.tsx
  frontend/src/components/dashboard/searchBar.tsx
  frontend/src/components/index.ts
  frontend/src/index.tsx
  frontend/src/pages/dashboard.tsx
  frontend/src/pages/index.ts
  frontend/src/pages/login.tsx
  frontend/src/pages/register.tsx
  frontend/yarn.lock
Labels: enhancement, Frontend

#27 [Backend] setup of the scrawer service in Python
  backend/scrawler-service/main.py
  backend/scrawler-service/requirements.txt
  backend/user-management-service/src/ormconfig.ts
Labels: enhancement, Backend

#28 [Frontend] - overflow auto
  frontend/src/components/dashboard/playlistBar.tsx
  frontend/src/pages/dashboard.tsx
Labels: Frontend

#32 [Frontend] - Search Music In real time
  backend/scrawler-service/main.py
  frontend/src/components/dashboard/albumBoard.tsx
  frontend/src/components/dashboard/playlistBar.tsx
  frontend/src/components/dashboard/searchBar.tsx
  frontend/src/interfaces/search.ts
  frontend/src/query/search.ts
  frontend/src/services/search.ts
  frontend/src/utils/axios.ts
Labels: enhancement, Frontend
