Repository ToniDarodda/Vibeefy, pull requests merged in 2024-03, with the labels that each got.

#33 [Frontend] - Player
  backend/music-artist-service/src/entities/album/entity.ts
  backend/music-artist-service/src/entities/artist/entity.ts
  backend/music-artist-service/src/entities/song/entity.ts
  backend/music-artist-service/src/migrations/1708397389190-renameMe.ts
  backend/music-artist-service/src/migrations/1709254599382-renameMe.ts
  backend/music-artist-service/src/modules/album/service/album.service.ts
  backend/music-artist-service/src/modules/artist/dto/base.dto.ts
  backend/music-artist-service/src/modules/song/service/song.service.ts
  backend/user-management-service/src/modules/user/service/user.service.ts
  frontend/package.json
  frontend/src/components/dashboard/albumBoard.tsx
  frontend/src/components/register/registerSteps.tsx
  frontend/src/interfaces/search.ts
  frontend/src/query/search.ts
  frontend/src/services/search.ts
  frontend/src/utils/player.ts
  frontend/yarn.lock
Labels: enhancement, Frontend

#34 [Frontend] - Refactor frontend code
  frontend/public/pause2.png
  frontend/public/plus2.png
  frontend/public/plus3.png
  frontend/public/volume-mute.png
  frontend/src/components/dashboard/albumBoard.tsx
  frontend/src/components/dashboard/modal/playlistOpen.tsx
  frontend/src/components/dashboard/modal/playlistOption.tsx
  frontend/src/components/dashboard/playBar.tsx
  frontend/src/components/dashboard/playBarMobile.tsx
  frontend/src/components/dashboard/playlistBar.tsx
  frontend/src/components/dashboard/searchBar.tsx
  frontend/src/components/input/passwordInput.tsx
  frontend/src/components/login/card/loginCard.tsx
  frontend/src/components/navbar/navbar.tsx
  frontend/src/components/register/card/registerCard.tsx
  frontend/src/components/register/registerSteps.tsx
  frontend/src/components/register/steps/baseStep.tsx
  frontend/src/pages/dashboard.tsx
  frontend/src/pages/loading.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/register.tsx
  frontend/src/query/playlist.ts
  frontend/src/query/search.ts
  frontend/src/query/user.ts
  frontend/src/utils/formatTime.ts
  frontend/src/utils/player.ts
Labels: documentation, enhancement, Frontend

#50 [Frontend, Backend] - fix various bug and fix frontend detail
  .DS_Store
  backend/music-artist-service/src/modules/album/service/album.service.ts
  frontend/public/index.html
  frontend/public/logo.png
  frontend/public/logo.webp
  frontend/public/pause.gif
  frontend/public/playing.gif
  frontend/src/components/dashboard/AlbumDetails/albumView.tsx
  frontend/src/components/dashboard/Modal/playlistOption.tsx
  frontend/src/components/dashboard/Playbar/playBar.tsx
  frontend/src/components/dashboard/Playlist/playlistView.tsx
  frontend/src/components/dashboard/Search/artistSearch.tsx
  frontend/src/components/dashboard/Search/songSearch.tsx
  frontend/src/components/dashboard/Search/topResultSearch.tsx
  frontend/src/components/dashboard/Search/view.tsx
  frontend/src/components/dashboard/Sidebar/playlistBarView.tsx
  frontend/src/components/dashboard/Sidebar/playlistQueueBar.tsx
  frontend/src/components/dashboard/Sidebar/queueBarView.tsx
  frontend/src/components/dashboard/searchBar.tsx
  frontend/src/contexts/playerContext.tsx
  frontend/src/interfaces/playlist.ts
  frontend/src/pages/dashboard.tsx
  frontend/src/query/playlist.ts
  frontend/src/services/playlist.ts
  frontend/src/utils/formatTime.ts
Labels: enhancement, Backend, Frontend

#52 [Backend, Frontend] - Playlist features
  backend/user-management-service/package.json
  backend/user-management-service/src/entities/playlist/entity.ts
  backend/user-management-service/src/migrations/1709079875793-renameMe.ts
  backend/user-management-service/src/migrations/1709176568212-renameMe.ts
  backend/user-management-service/src/migrations/1709572992196-renameMe.ts
  backend/user-management-service/src/migrations/1709578995723-renameMe.ts
  backend/user-management-service/src/migrations/1710465534731-renameMe.ts
  backend/user-management-service/src/modules/playlist/controller/playlist.controller.ts
  backend/user-management-service/src/modules/playlist/dto/base.dto.ts
  backend/user-management-service/src/modules/playlist/playlist.module.ts
  backend/user-management-service/src/modules/playlist/service/playlist.service.ts
  backend/user-management-service/yarn.lock
  frontend/package.json
  frontend/src/components/Register/registerSteps.tsx
  frontend/src/components/dashboard/Albumbar/albumBarView.tsx
  frontend/src/components/dashboard/Modal/addPlaylistCode.tsx
  frontend/src/components/dashboard/Modal/addToPlaylistOpen.tsx
  frontend/src/components/dashboard/Modal/playlistOption.tsx
  frontend/src/components/dashboard/Sidebar/playlistBarView.tsx
  frontend/src/components/dashboard/Sidebar/playlistQueueBar.tsx
  frontend/src/components/dashboard/selectionPanelView.tsx
  frontend/src/contexts/playerContext.tsx
  frontend/src/global.d.ts
  frontend/src/index.tsx
  frontend/src/query/link.ts
  frontend/src/query/playlist.ts
  frontend/src/services/link.ts
  frontend/src/services/playlist.ts
  frontend/src/utils/colorGrap.ts
  frontend/yarn.lock
Labels: enhancement, Backend, Frontend

#53 [Frontend] - View state context and fixes
  backend/user-management-service/src/modules/lovedSong/controller/lovedSong.controller.ts
  backend/user-management-service/src/modules/lovedSong/service/lovedSong.service.ts
  frontend/src/components/dashboard/AlbumDetails/albumView.tsx
  frontend/src/components/dashboard/AlbumPlaylist/AlbumBar/albumBarView.tsx
  frontend/src/components/dashboard/AlbumPlaylist/AlbumBar/reducedAlbumBarView.tsx
  frontend/src/components/dashboard/AlbumPlaylist/albumView.tsx
  frontend/src/components/dashboard/AlbumPlaylist/playlistView.tsx
  frontend/src/components/dashboard/AlbumPlaylist/selectionPanelView.tsx
  frontend/src/components/dashboard/Artist/artistView.tsx
  frontend/src/components/dashboard/Playbar/playBar.tsx
  frontend/src/components/dashboard/Playbar/playBarMobile.tsx
  frontend/src/components/dashboard/Search/albumSearch.tsx
  frontend/src/components/dashboard/Search/view.tsx
  frontend/src/components/dashboard/Sidebar/playlistBarView.tsx
  frontend/src/components/dashboard/Sidebar/playlistQueueBar.tsx
  frontend/src/components/dashboard/Sidebar/queueBarView.tsx
  frontend/src/components/dashboard/searchBar.tsx
  frontend/src/components/dashboard/selectionPanelView.tsx
  frontend/src/contexts/index.ts
  frontend/src/contexts/player.context.tsx
  frontend/src/contexts/viewState.context.tsx
  frontend/src/index.tsx
  frontend/src/interfaces/song.ts
  frontend/src/pages/dashboard.tsx
  frontend/src/services/lovedSong.ts
  frontend/src/utils/playlistOrAlbum.ts
Labels: enhancement, Frontend

#54 [Frontend] - Create artist page
  backend/music-artist-service/src/modules/artist/controller/artist.controller.ts
  backend/music-artist-service/src/modules/artist/service/artist.service.ts
  backend/user-management-service/src/modules/artist-manager/controller/artist-manager.controller.ts
  frontend/src/components/dashboard/AlbumPlaylist/AlbumBar/albumBarView.tsx
  frontend/src/components/dashboard/AlbumPlaylist/albumView.tsx
  frontend/src/components/dashboard/Artist/artistBar.tsx
  frontend/src/components/dashboard/Artist/artistView.tsx
  frontend/src/components/dashboard/Modal/addPlaylistCode.tsx
  frontend/src/components/dashboard/Playbar/playBar.tsx
  frontend/src/components/dashboard/Search/artistSearch.tsx
  frontend/src/components/dashboard/Search/topResultSearch.tsx
  frontend/src/components/dashboard/Search/view.tsx
  frontend/src/components/dashboard/searchBar.tsx
  frontend/src/contexts/player.context.tsx
  frontend/src/contexts/viewState.context.tsx
  frontend/src/interfaces/artist.ts
  frontend/src/pages/dashboard.tsx
  frontend/src/query/artist.ts
  frontend/src/services/artist.ts
  frontend/src/utils/colorGrap.ts
  frontend/src/utils/player.ts
Labels: enhancement, Frontend

#56 [Frontend, Backend] - feat: fix and upgrade stuff on feeback, bar mobile, playlist handle
  .gitignore
  backend/music-artist-service/src/modules/album/controller/album.controller.ts
  backend/music-artist-service/src/modules/album/dto/base.dto.ts
  backend/music-artist-service/src/modules/album/service/album.service.ts
  backend/user-management-service/src/modules/artist-manager/controller/artist-manager.controller.ts
  backend/user-management-service/src/modules/artist-manager/service/artist-manager.service.ts
  backend/user-management-service/src/modules/lovedSong/service/lovedSong.service.ts
  backend/user-management-service/src/ormconfig.ts
  frontend/public/liked.png
  frontend/src/components/card/loginCard.tsx
  frontend/src/components/dashboard/albumPlaylist/albumBar/albumBarView.tsx
  frontend/src/components/dashboard/albumPlaylist/albumBar/reducedAlbumBarView.tsx
  frontend/src/components/dashboard/albumPlaylist/selectionPanelView.tsx
  frontend/src/components/dashboard/artist/artistView.tsx
  frontend/src/components/dashboard/modal/addToPlaylistOpen.tsx
  frontend/src/components/dashboard/modal/playlistOption.tsx
  frontend/src/components/dashboard/playbar/playBar.tsx
  frontend/src/components/dashboard/playbar/playBarMobile.tsx
  frontend/src/components/dashboard/search/songSearch.tsx
  frontend/src/components/dashboard/search/view.tsx
  frontend/src/components/dashboard/searchBar.tsx
  frontend/src/components/dashboard/sidebar/playlistBarView.tsx
  frontend/src/components/register/registerSteps.tsx
  frontend/src/contexts/player.context.tsx
  frontend/src/contexts/viewState.context.tsx
  frontend/src/index.tsx
  frontend/src/query/album.ts
  frontend/src/query/lovedSong.ts
  frontend/src/services/album.ts
  frontend/src/services/artist.ts
  frontend/src/services/lovedSong.ts
  frontend/src/utils/axios.ts
  frontend/src/utils/player.ts
  frontend/yarn.lock
Labels: enhancement, Backend, Frontend

#57 [Frontend] - Fix mobile view and bugs
  frontend/src/components/dashboard/albumPlaylist/albumBar/reducedAlbumBarView.tsx
  frontend/src/components/dashboard/artist/artistBar.tsx
  frontend/src/components/dashboard/artist/artistView.tsx
  frontend/src/components/dashboard/playbar/playBarMobile.tsx
  frontend/src/components/dashboard/search/albumSearch.tsx
  frontend/src/components/dashboard/search/artistSearch.tsx
  frontend/src/components/dashboard/search/songSearch.tsx
  frontend/src/components/dashboard/search/topResultSearch.tsx
  frontend/src/components/dashboard/search/view.tsx
  frontend/src/components/dashboard/searchBar.tsx
Labels: enhancement, Frontend

#59 [Frontend] - Immersion play
  frontend/public/index.html
  frontend/src/components/modal/addPlaylistCode.tsx
  frontend/src/components/modal/addToPlaylistOpen.tsx
  frontend/src/components/modal/playlistOpen.tsx
  frontend/src/components/modal/playlistOption.tsx
  frontend/src/components/playbar/component/songInfo.tsx
  frontend/src/components/playbar/component/songManagement.tsx
  frontend/src/components/playbar/component/songSound.tsx
  frontend/src/components/playbar/component/songTime.tsx
  frontend/src/components/playbar/fullPlayBar.tsx
  frontend/src/components/playbar/playBar.tsx
  frontend/src/components/playbar/playBarMobile.tsx
  frontend/src/components/search/albumSearch.tsx
  frontend/src/components/search/artistSearch.tsx
  frontend/src/components/search/noDataSearch.tsx
  frontend/src/components/search/songSearch.tsx
  frontend/src/components/search/topResultSearch.tsx
  frontend/src/components/sidebar/playlistBarView.tsx
  frontend/src/components/sidebar/playlistQueueBar.tsx
  frontend/src/components/sidebar/queueBarView.tsx
  frontend/src/components/topBar/albumBar.tsx
  frontend/src/components/topBar/artistBar.tsx
  frontend/src/components/topBar/collectionBar.tsx
  frontend/src/components/topBar/playlistBar.tsx
  frontend/src/components/topBar/reduced/rAlbumBar.tsx
  frontend/src/components/view/albumView.tsx
  frontend/src/components/view/collectionView.tsx
  frontend/src/components/view/playlistView.tsx
  frontend/src/contexts/player.context.tsx
  frontend/src/pages/collection.tsx
  frontend/src/pages/emptySearch.tsx
  frontend/src/pages/layout.tsx
  frontend/src/pages/playlist.tsx
  frontend/src/pages/search.tsx
  frontend/src/query/album.ts
  frontend/src/query/index.ts
  frontend/src/query/link.ts
  frontend/src/query/lovedSong.ts
  frontend/src/query/song.ts
  frontend/src/services/index.ts
  frontend/src/utils/index.ts
  frontend/src/utils/player.ts
  frontend/src/utils/playlistOrAlbum.ts
Labels: enhancement, Frontend

#61 [Backend, Frontend] - Fix view paddings bugs && Add music type research
  backend/music-artist-service/src/modules/album/controller/album.controller.ts
  backend/music-artist-service/src/modules/album/service/album.service.ts
  backend/music-artist-service/src/modules/artist/controller/artist.controller.ts
  backend/music-artist-service/src/modules/artist/service/artist.service.ts
  backend/music-artist-service/src/modules/song/controller/song.controller.ts
  backend/music-artist-service/src/modules/song/service/song.service.ts
  backend/user-management-service/src/modules/artist-manager/controller/artist-manager.controller.ts
  backend/user-management-service/src/modules/artist-manager/service/artist-manager.service.ts
  frontend/src/components/modal/addPlaylistCode.tsx
  frontend/src/components/modal/addToPlaylistOpen.tsx
  frontend/src/components/modal/playlistOpen.tsx
  frontend/src/components/modal/playlistOption.tsx
  frontend/src/components/musicType/album.tsx
  frontend/src/components/musicType/all.tsx
  frontend/src/components/musicType/artist.tsx
  frontend/src/components/musicType/songs.tsx
  frontend/src/components/playbar/component/songInfo.tsx
  frontend/src/components/playbar/component/songTime.tsx
  frontend/src/components/playbar/fullPlayBar.tsx
  frontend/src/components/playbar/playBar.tsx
  frontend/src/components/playbar/playBarMobile.tsx
  frontend/src/components/search/noDataSearch.tsx
  frontend/src/components/search/topResultSearch.tsx
  frontend/src/components/searchBar.tsx
  frontend/src/components/sidebar/playlistBarView.tsx
  frontend/src/components/sidebar/playlistQueueBar.tsx
  frontend/src/components/sidebar/queueBarView.tsx
  frontend/src/components/view/albumView.tsx
  frontend/src/components/view/collectionView.tsx
  frontend/src/contexts/modal.context.tsx
  frontend/src/contexts/player.context.tsx
  frontend/src/index.tsx
  frontend/src/interfaces/artist.ts
  frontend/src/interfaces/song.ts
  frontend/src/pages/album.tsx
  frontend/src/pages/artist.tsx
  frontend/src/pages/emptySearch.tsx
  frontend/src/pages/layout.tsx
  frontend/src/pages/search.tsx
  frontend/src/query/artist.ts
  frontend/src/query/song.ts
  frontend/src/services/artist.ts
  frontend/src/services/song.ts
  frontend/src/utils/formatPicture.ts
  frontend/src/utils/player.ts
Labels: enhancement, Backend, Frontend

#63 [Frontend, Backend] - Scroll song && Playlist public management
  backend/music-artist-service/src/entities/song/entity.ts
  backend/music-artist-service/src/migrations/1711429938888-renameMe.ts
  backend/music-artist-service/src/modules/song/controller/song.controller.ts
  backend/music-artist-service/src/modules/song/dto/base.dto.ts
  backend/music-artist-service/src/modules/song/service/song.service.ts
  backend/user-management-service/src/modules/artist-manager/controller/artist-manager.controller.ts
  backend/user-management-service/src/modules/artist-manager/service/artist-manager.service.ts
  backend/user-management-service/src/modules/playlist/service/playlist.service.ts
  frontend/src/components/modal/addToPlaylistOpen.tsx
  frontend/src/components/modal/playlistOption.tsx
  frontend/src/components/musicType/all.tsx
  frontend/src/components/musicType/playlist.tsx
  frontend/src/components/musicType/songs.tsx
  frontend/src/components/playbar/playBarMobile.tsx
  frontend/src/components/search/albumSearch.tsx
  frontend/src/components/search/songSearch.tsx
  frontend/src/components/sidebar/playlistBarView.tsx
  frontend/src/components/view/albumView.tsx
  frontend/src/components/view/collectionView.tsx
  frontend/src/components/view/playlistView.tsx
  frontend/src/contexts/player.context.tsx
  frontend/src/interfaces/album.ts
  frontend/src/interfaces/artist.ts
  frontend/src/interfaces/index.ts
  frontend/src/interfaces/playlist.ts
  frontend/src/interfaces/song.ts
  frontend/src/pages/artist.tsx
  frontend/src/pages/emptySearch.tsx
  frontend/src/pages/layout.tsx
  frontend/src/pages/search.tsx
  frontend/src/query/album.ts
  frontend/src/query/playlist.ts
  frontend/src/query/song.ts
  frontend/src/services/album.ts
  frontend/src/services/playlist.ts
  frontend/src/services/song.ts
  frontend/src/utils/axios.ts
  frontend/src/utils/player.ts
Labels: enhancement, Backend, Frontend
